@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
.github-widget{border:1px solid #DDD;color:#333;max-width:450px; padding: 10px; font-family:Noto Sans,sans-serif; float: left; margin-right:10px; }
.github-widget a {color:#4078C0;text-decoration:none}
.gh-top{height:100px;padding:10px}
.gh-top img{border:1px solid #eee;border-radius:50%}
.gh-top-photo{width:20%;float:left}
.gh-top-text{width:60%;float:right;text-align:center}
.gh-name{font-size:1.5em;line-height:1.5em;padding:10px 0 0 0}
.gh-count{width: 100%; text-align: center; border-bottom: 1px solid #eee; padding: 0 0 20px 0}
.gh-count span{display: block}
.gh-h2{font-weight:400;color:#666;text-align:center;padding:15px}
.gh-names{width:50%}
.gh-language{width:25%}
.gh-stars{width:25%;text-align:center}
.gh-foot{padding:10px}
.gh-link{display:inline-block;background:#ddd;width:100px;height:28px;text-align:center;line-height:28px}
.gh-foot span{float:right;line-height:28px;padding:0 20px 0 0}
.gh-tb {width: 100%}
.gh-tb td{padding: 10px}