<div class="github-widget" v-if="show">
    <div class="gh-wrap1">
    <div class="gh-top">
        <div class="gh-top-photo">
            <img :src="user.avatar_url" width="90" height="90" alt="" />
        </div>
        <div class="gh-top-text">
            <div class="gh-name">{{user.name || user.login}}</div><div class="gh-location">{{user.location || user.type}}</div>
        </div>
    </div>

    <table class="gh-count">
        <tbody>
            <tr>
                <td><span>{{user.followers}}</span>Followers</td>
                <td><span>{{user.following}}</span>Following</td>
                <td><span>{{user.public_repos}}</span>Repositories</td>
            </tr>
        </tbody>
    </table>
    
    <div class="gh-h2">Top repositories</div>
    </div>

    <table class="gh-tb">
        <tbody>
             <tr v-for="v in rep.list">
                <td width="50%"><a href="{{v.html_url}}">{{v.name}}</a></td>
                <td width="25%">{{v.language}}</td>
                <td width="25%">★{{v.stargazers_count}}</td>
            </tr>
        </tbody>
    </table>

    <div class="gh-foot">
        <a class="gh-link" target="new" href="{{user.html_url}}">Follow</a>
        <span>Last active: {{rep.latestDate}}</span>
    </div>
</div>